.cancelTab {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
  align-items: center;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
.cancelTab__info > p {
  color: #fff;
  font-size: 1.5rem;
  margin-bottom: 15px;
}
.cancelTab img {
  width: 500px;
  height: 500px;
  object-fit: contain;
}
.btn {
  opacity: 0.8;
  cursor: pointer;
  width: 250px;
  font-size: 1.2rem;
  color: #fff;
  background-color: #e50914;
  border: none;
  padding: 10px 20px;
}
.btn:hover {
  opacity: 1;
}
